@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .feed {
    @apply max-w-2xl mx-auto px-3 space-y-8
  }

  .icon {
    @apply fill-current inline h-min;
    vertical-align: -12%;
  }
}

img {
  width: 500px;
  max-width: 100%;
  border-radius: 5px;
  margin: 5px auto;
}

img.not-sized {
  width: unset;
  border-radius: 0px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  display: inline;
}

code {
  font-weight: 300;
  padding: 5px;
  border-radius: 5px;
}

pre {
  overflow-x: scroll;
  line-height: 130%;
  padding: 10px;
  border-radius: 5px;
}

.balanced {
  white-space: unset;
  text-wrap: balance;
}


.curve-box {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-box svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 120px;
}

.article-link {
  @apply p-4 -m-3 flex justify-between gap-4 items-center hover:text-secondary hover:bg-base-200 rounded-lg;
}


.debug {
  outline: 1px solid red;
}

#TableOfContents>ul {
  @apply font-semibold;
}

#TableOfContents>ul>li {
  @apply mt-3;
}

#TableOfContents>ul>li>ul {
  @apply font-normal ms-3;
}


.code-display {
  height: 300px;
  width: 400px;
}


.code-textcontainer {}

.code-textcontainer>div>pre {
  overflow-x: auto;
}

pre {
  position: relative;
}

.copy-code-button {
  position: absolute;
  top: 5px;
  right: 5px
}