<div>
  <div class="bg-base-200 {{with .Large}} min-h-[400px] {{else}} {{end}} place-items-start">
    <div class="feed w-full py-24">
      <div class=" {{with .Large}} py-5 space-y-5 {{else}} space-y-3 {{end}} relative">

        {{with .Supertitle}}
        <p class="font-mono uppercase">
          {{. | safeHTML}}
        </p>
        {{end}}

        <h1 class=" {{with .Large}} text-6xl {{else}} text-4xl {{end}} font-bold font-serif">
          {{with .Title}} {{ . | safeHTML }} {{end}}
        </h1>


        {{if .Subtitle}}
        <p class="font-mono balanced {{if .Large }} text-xl {{else}} text-lg {{end}}   uppercase">
          {{.Subtitle | safeHTML }}
        </p>
        {{end}}

        {{with .Content}}<div class="prose balanced ">{{. | safeHTML}}</div>{{end}}

        {{if not (or (.Context.IsHome) (.Context.Params.hideMeta) (not .Context.IsPage)) }}
        {{partial "meta.html" .Context }}

        <div class="flex">
          <h2 class="text-lg font-extralight font-serif">
            {{ page.WordCount }} Words
          </h2>
          &nbsp;|&nbsp;
          <h2 class="text-lg font-extralight font-serif">
            {{ page.ReadingTime }} Minutes
          </h2>
        </div>

        {{end}}

        {{if and (.Context.IsHome) (eq .Context.Site.Params.showSocialOnHomepage true)}}


        {{partial "socials.html" (dict "Context" .Context "OnlyFeatured" true)}}

        <div class="avatar absolute contrast-125 top-0 right-0">
          <div class="w-32 sm:w-52 rounded-xl shadow-md transform origin-top-left rotate-6">
            <img src="https://avatars.githubusercontent.com/u/117874491" alt="rua-iri avatar">
          </div>
        </div>





        {{/*  <div class="hidden md:flex stats shadow absolute top-50 left-0 transform origin-top-right -translate-x-60 -rotate-12">
          <div class="stat">
            <div class="stat-figure text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                class="inline-block w-8 h-8 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
                </path>
              </svg>
            </div>
            <div class="stat-title">Current Streak</div>
            <div class="stat-value text-primary">x Days</div>
            <div class="stat-desc">x% more than last month</div>
          </div>

          <div class="stat">
            <div class="stat-figure text-secondary">
              <div class="stat-value">86%</div>
              <div class="stat-title">Tasks done</div>
              <div class="stat-desc text-secondary">31 tasks remaining</div>
            </div>
          </div>
        </div>  */}}



        {{ end }}



      </div>
    </div>
  </div>

  <div class="curve-box">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="fill-base-200"></path>
    </svg>
  </div>

</div>