<div class="text-xs pt-2">
  
  
  {{ if ne .Date nil }}
    <i class="fa-regular fa-calendar icon w-4 h-4"></i>
        Published on
      {{$myFormat := "January 2, 2006"}} {{- with .Site.Params.DateFormat}}
      {{$myFormat = .}} {{- end -}} {{- dateFormat $myFormat .Date -}}
      {{- if ne .Lastmod nil -}}
        {{- if and (ne .Lastmod .Date) (gt .Lastmod .Date) -}}
        , updated on {{ dateFormat $myFormat .Lastmod -}}.
        {{else}}.
        {{ end }}
      {{end}}
  {{end}}

  <br/>

  {{if or (.Params.Categories) (.Params.Langs) (.Params.Tools)}}
  <i class="fa-regular fa-folder-open icon w-4 h-4"></i>
  Built
  {{with .Params.Categories}}
    under 
    
    {{$n := len .}} 
    {{range $ind, $val := .}}  
    <a href="/categories/{{$val | urlize}}" class="link">{{ $val }}</a>  
      {{- if lt $ind (sub $n 1) -}}
      ,
      {{end}} 
    {{end}}
  {{ end }} 
  
  
  {{with union (.Params.Langs) (.Params.Tools)}}
      using
    
    {{$n := len .}} {{range $ind, $val := .}}{{ $val }} {{- if lt $ind (sub $n
    1) -}}, {{end}} {{- end -}}
  {{- end -}}.
  
  

  {{end}}


  {{if ne .Params.link nil}}
  <br/>
  <svg class="icon w-4 h-4" xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M186.666-120q-27 0-46.833-19.833T120-186.666v-586.668q0-27 19.833-46.833T186.666-840h246q14.167 0 23.75 9.617Q466-820.766 466-806.55q0 14.216-9.584 23.716-9.583 9.5-23.75 9.5h-246v586.668h586.668v-246q0-14.167 9.617-23.75Q792.568-466 806.784-466q14.216 0 23.716 9.584 9.5 9.583 9.5 23.75v246q0 27-19.833 46.833T773.334-120H186.666Zm586.668-606.001L407.333-360q-9.667 9.667-23.333 9.333-13.667-.333-23.333-10Q351-370.333 351-384q0-13.666 9.667-23.333l366-366.001H565.999q-14.167 0-23.75-9.617t-9.583-23.833q0-14.216 9.583-23.716 9.583-9.5 23.75-9.5H840v274.001q0 14.167-9.617 23.75t-23.833 9.583q-14.216 0-23.716-9.583-9.5-9.583-9.5-23.75v-160.002Z"/></svg> <a href="{{.Params.link}}" class="link"> {{if ne .Params.linkText nil}} {{.Params.linkText}} {{else}} Go to the {{.Section | singularize}} page. {{end}}</a>
    
  {{end}}
</div>
